body,
h1,
h3,
h4,
span,
div {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
  background-color: #edf5e1;
}

.musician {
  height: 400px;
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-container {
  background-color: #388697;
  height: 500px;
  padding: 170px 150px;
  background-image: url('img/Asset\ 1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: 15%;
}

img {
  max-width: 100%;
}

.round-img {
  border-radius: 50%;
  border: 10px solid #fafafa;
}

.profile-img {
  overflow: hidden;
  vertical-align: middle;
  margin: auto;
  height: 250px;
  width: 250px;
}

.rock-img {
  float: left;
  margin-right: 30px;
  width: 250px;
}

.roll-img {
  float: right;
  margin-left: 30px;
  width: 250px;
}

.whi {
  color: #08415c;
  display: inline;
  text-shadow: #388697 1.5px 1.5px 2px;
  font-weight: bold;
}

.about {
  padding: 100px 0px 0px 0px;
  width: 450px;
  margin: auto;
}

.offer {
  padding: 50px;
  margin: auto;
}

.offer-p1 {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.offer-p2 {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: right;
}

.more {
  padding: 50px 0px 100px 0px;
  width: 450px;
  margin: auto;
}

.bottom-container {
  padding: 100px 0px;
  background-color: #388697;
}

.copyright {
  font-size: .5em;
  font-weight: 100;
  color: #fafafa;
}

.social {
  height: 1.5em;
  margin: 1em 2px;
  color: white;
}

p {
  color: hsl(0, 0, 33);
  font-weight: 300;
  line-height: 30px;
  font-size: 1.2rem;

  margin: 0px auto;
}

h3 {
  font-size: 2em;
  line-height: 2em;
}

h4 {
  color: antiquewhite;
  font-weight: normal;
}

h1,
h2,
h3 {
  color: #08415c;
}

h1 {
  font-size: 5em;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border-style: dotted;
  border-top-style: none;
  border-color: gray;
  border-width: 8px;
  margin-top: 50px;
  width: 3%;
}

q {

  font-style: italic;
  color: #edf5e1;
}